<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>incremental-dom test</title>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="//backbonejs.org/backbone-min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/incrementaldom/0.2.0/incremental-dom.js"></script>

    <link rel="stylesheet" href="index.css"/>

    <script src="../../bin/itemplate.js"></script>

    <!--<script src="//fb.me/react-0.13.3.min.js"></script>-->
    <script src="https://fb.me/react-0.14.3.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.min.js"></script>
</head>
<body>
<div>
    <p>In the example with incremental DOM we used the <a
            href="https://github.com/Rapid-Application-Development-JS/itemplate">itemplate</a> library for the
        compilation of the underscorejs template.</p>

    <div id="timing">-</div>
    <div>Count items: <input type="text" value="100"/></div>
    <button class="button" id="backbone">BackboneJS</button>
    <button class="button" id="incremental">BackboneJS + incremental-dom</button>
    <button class="button" id="react">ReactJS</button>
</div>
<div id="grid"></div>
<script type="x-template" id="i-template">
    <div class="box" static-key="<%= data.id %>" static-array="box"
         style="top: <%= data.top %>px; left: <%= data.left %>px; background: rgb(0,0,<%= data.color %>);">
        <%= data.content %>
    </div>
</script>
<script type="x-template" id="underscore-template">
    <div class="box"
         style="top: <%= top %>px; left: <%= left %>px; background: rgb(0,0,<%= color %>);">
        <%= content %>
    </div>
</script>
<script src="index.js"></script>
</body>
</html>