<html>
<head>
    <title> Tests </title>
    <link rel="stylesheet" href="../node_modules/mocha/mocha.css"/>

    <script src="../node_modules/incremental-dom/dist/incremental-dom-min.js"></script>
    <script src="../bin/itemplate.min.js"></script>
</head>
<body>

<!--tests templates-->
<div id="templates">

    <!--plain html test-->
    <script type="text/html" id="test-0_0_1">
        <div class="title">Title</div>
        <ul>
            <li class="row even">
                John Smith
                <em>*</em>
            </li>
            <li class="row">
                Mark Smith
            </li>
        </ul>

        <p style="font-size: 12px;">
            <em>* Olympic gold medalist</em>
        </p>
    </script>

    <script type="text/html" id="test-0_0_2">
        <div class="box" my-attr>
            <span>some text</span>
        </div>
        <div my-attr="" class="box">
            <span>some text</span>
        </div>
        <div my-attr="some-value" class="box">
            <span>some text</span>
        </div>
    </script>

    <script type="text/html" id="test-0_0_3">
        <div>
            Some text
            <div class="my_class">Other text</div>
            <!--My comment-->
            <pre class="lang">
                some codes "&#60;" and "&#38;" '.
            </pre>
            <code>
                my code
            </code>
            <x-tag>
                My custom tag ;-)
            </x-tag>

            <![CDATA[
            <sender>John Smith</sender>
            ]]>
        </div>
    </script>

    <!--inputs tests-->
    <script type="text/html" id="test-0_1_1">
        <input id="readonly-input" type="text" name="text-2" placeholder="some name" readonly>
    </script>
    <script type="text/html" id="test-0_1_2">
        <input id="readonly-input-2" type="text" name="text-2" placeholder="some name" readonly/>
    </script>

    <!-- attribute value -->
    <script type="text/html" id="test-0_2_1">
        <div>
            <span class="<%= data.isTrue ? 'first' : 'second' %>" title="<%=data.name%> <%=data.lastName%>"></span>
        </div>

        <!-- templates as text -->
        <div class="_1"><%- data.listTitle %></div>
        <div class="_2">test<%- data.listTitle %></div>
        <div class="_3"><%- data.listTitle %>test</div>
        <div class="_4">test<%- data.listTitle %>test</div>
        <div class="_5">test<%- data.listTitle %>test<%- data.listTitle %></div>
    </script>

    <!-- embedded js -->
    <script type="text/html" id="test-0_2_2">
        <ul>
            <% var showFootnote = false;
            data.listItems.forEach(function(listItem, i) {
            %>
            <li class="row <%=(i % 2 == 1 ? ' even' : '')%>">
                <%- listItem.name %>
                <% if (listItem.hasOlympicGold){
                showFootnote = true; %>
                <em>*</em>
                <% } %>
            </li>
            <% }); %>
        </ul>

        <% if (showFootnote){ %>
        <p style="font-size: 12px;">
            <em>* Olympic gold medalist</em>
        </p>
        <% } %>

        <!-- issue -->
        <ul>
            <% data.listItems.forEach(function(listItem, i) {
            if (listItem.hasOlympicGold){ %>
            <li class="row">
                <% } else { %>
            <li class="row even">
                <% } %>
                <%- listItem.name %>
                <em>*</em>
            </li>
            <% }); %>
        </ul>
    </script>

    <!--decode accessory-->
    <script type="text/html" id="test-0_2_3">
        <div class="_1" attr="<%- data.listTitle %>"></div>
        <div class="_2" attr="test<%- data.listTitle %>"></div>
        <div class="_3" attr="<%- data.listTitle %>test"></div>
        <div class="_4" attr="test<%- data.listTitle %>test"></div>
        <div class="_5" attr="test<%- data.listTitle %>test<%- data.listTitle %>"></div>
    </script>

    <!--keys cases-->
    <script type="text/html" id="test-0_3_1">
        <ul>
            <% data.array.forEach(function(item) { %>
            <li key="<%='key_'+item.id%>"><%=item.value%></li>
            <% }); %>
        </ul>

        <ul>
            <% data.array.forEach(function(item) { %>
            <li><%=item.value%></li>
            <% }); %>
        </ul>

    </script>

    <!-- static arrays -->
    <script type="text/html" id="test-0_3_2">
        <div id="id_1" static-array="myCustomArray" class="shadow" style="border: dashed;"></div>
        <div id="id_2" static-array="myCustomArray"></div>
    </script>

    <!--close helper-->
    <script type="text/html" id="test-0_3_3">
        <my-input class="my-class"/>
    </script>

    <!--wrapped helper-->
    <script type="text/html" id="test-0_3_4">
        <my-div class="my-wrapper-class">
            <my-input class="my-class"/>
        </my-div>
    </script>

    <!--wrapped helper-->
    <script type="text/html" id="test-0_3_5">
        <my-section>
            <my-div class="my-wrapper-class">
                <my-input class="my-class"/>
            </my-div>
        </my-section>
    </script>

    <!--wrapped context-->
    <script type="text/html" id="test-0_3_6">
        <my-section>
            <my-div class="<%= this.div %>">
                <my-input class="<%= this.input %>"/>
            </my-div>
        </my-section>
    </script>

    <script type="text/html" id="test-0_3_7">
        <my-section>
            <my-div class="<%= this.div %>">
                <my-input class="<%= this.input %>"/>
            </my-div>
        </my-section>

        <% var _this = {div: "a", input: "b"};%>
        <my-section>
            <div>test</div>
            <my-div class="<%= _this.div %>">
                <div class="class">test class</div>
                <my-input class="<%= _this.input %>"/>
            </my-div>
        </my-section>
    </script>

    <!--refs-->
    <script type="text/html" id="test-0_4_1">
        <section ref="section">
            <div ref="div" class="my-wrapper-class">
                <input ref="input" class="my-class"/>
            </div>
        </section>
    </script>

    <script type="text/html" id="test-0_4_2">
        <section ref="<%= 'section_' + 1 %>">
            <div ref="<%= 'my'+'-div' %>" class="my-wrapper-class">
                <input ref="<%= 'my-input' %>" class="my-class"/>
            </div>
        </section>
    </script>

</div>

<!--test functionality-->
<div id="mocha"></div>
<script src="../node_modules/mocha/mocha.js"></script>
<script src="../node_modules/chai/chai.js"></script>
<script>
    mocha.ui('bdd');
    mocha.reporter('html');
    var expect = chai.expect;
</script>
<script src="test.js"></script>
<script>
    if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
    }
    else {
        mocha.run();
    }
</script>
</body>
</html>