<!--it should be different input examples-->
<div>
    <input type="password" name="pass" />
    <input type="text" name="text-1" placeholder="some name">
    <input type="text" name="text-2" placeholder="some name" readonly>
    <input type="text" name="text-3" placeholder="some name" />
    <input type="email">
</div>

<!--plain html-->
<div class="title">Title</div>
<ul>
    <li class="row even">
        John Smith
        <em>*</em>
    </li>
    <li class="row">
        Mark Smith
    </li>
</ul>

<p style="font-size: 12px ;">
    <em>* Olympic gold medalist</em>
</p>

<!-- templates
    as attribute value -->
<span class="<%= isTrue ? 'first' : 'second' %>" title="<%=name%><br><%=lastName%>"></span>

<!-- templates as text -->
<div><%- data.listTitle %></div>
<div>test<%- data.listTitle %></div>
<div><%- data.listTitle %>test</div>
<div>test<%- data.listTitle %>test</div>
<div>test<%- data.listTitle %>test<%- data.listTitle %></div>

<!--start embedded js -->
<ul>
    <%  var showFootnote = false;
    data.listItems.forEach(function(listItem, i) {
    %>
    <li class="row <%=(i % 2 == 1 ? ' even' : '')%>">
        <%- listItem.name %>
        <% if (listItem.hasOlympicGold){
        showFootnote = true; %>
        <em>*</em>
        <% } %>
    </li>
    <%  }); %>
</ul>

<% if (showFootnote){ %>
<p style="font-size: 12px;">
    <em>* Olympic gold medalist</em>
</p>
<% } %>

<!-- issue -->
<ul>
    <% data.listItems.forEach(function(listItem, i) {
        if (listItem.hasOlympicGold){ %>
        <li class="row">
            <% } else { %>
        <li class="row even">
        <% } %>
        <%- listItem.name %>
        <em>*</em>
    </li>
    <%  }); %>
</ul>

<!--keys cases-->
<div static-key></div>
<div static-key="my-custom-key">

<!--arrays cases-->
<div static-array class="box" style="align-content: center;"></div>
<div static-array="myCustomArray"  class="shadow" style="border: dashed;"></div>

<!--keys & arrays-->
<div static-array static-key style="align-content: center;" class="row <%=(i % 2 == 1 ? ' even' : '')%>">Content</div>
<div static-array="myCustomArray"  class="shadow" style="border: dashed;" static-key="my-second-custom-key"></div>

<!--helpers-->
<console data="this my console"/>
<console data="this my console" attr="<%=variable%>"/>

<!--test-->
<div>
    <% if(6 > 5) {console.log('true');} %>&#10;
</div>