<!--<span class="{{ true ? 'first' : 'second' }}" title="first line<br>second line"></span>-->

<!--&lt;!&ndash;it should be different input examples&ndash;&gt;-->

<!--<div class="title">Title</div>-->
<!--<ul>-->
    <!--<li class="row even">-->
        <!--John Smith-->
        <!--<em>*</em>-->
    <!--</li>-->
    <!--<li class="row">-->
        <!--Mark Smith-->
    <!--</li>-->
<!--</ul>-->

<!--<p style="font-size: 12px ;">-->
    <!--<em>* Olympic gold medalist</em>-->
<!--</p>-->

<!--<div>-->
    <!--<input type="password" name="pass" />-->
    <!--<input type="text" name="text-1" placeholder="some name">-->
    <!--<input type="text" name="text-2" placeholder="some name" readonly>-->
    <!--<input type="text" name="text-3" placeholder="some name" />-->
    <!--<input type="email">-->
<!--</div>-->

<!--start-->
<div> <%- data.listTitle %></div>
<ul>
    <%  var showFootnote = false;
    data.listItems.forEach(function(listItem, i) {
    %>
    <li class="row <%=(i % 2 == 1 ? ' even' : '')%>">
        <%- listItem.name %>
        <% if (listItem.hasOlympicGold){
        showFootnote = true; %>
        <em>*</em>
        <% } %>
    </li>
    <%  }); %>
</ul>

<% if (showFootnote){ %>
<p style="font-size: 12px ;">
    <em>* Olympic gold medalist</em>
</p>
<% } %>