<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>incremental-dom test</title>

    <link rel="stylesheet" href="theme/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="index.css"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css"/>
    <![endif]-->

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="//backbonejs.org/backbone-min.js"></script>

    <script src="//fb.me/react-0.13.3.min.js"></script>

    <script src="//rawgithub.com/Rapid-Application-Development-JS/itemplate/master/examples/lib/incremental-dom.js"></script>
    <script src="//rawgithub.com/Rapid-Application-Development-JS/itemplate/master/bin/itemplate.min.js"></script>
</head>
<body>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/Rapid-Application-Development-JS/itemplate">Fork me on GitHub</a>
    </div>
</div>

<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">
            <a href="https://github.com/Rapid-Application-Development-JS/itemplate">iTemplate</a>
        </h1>
    </div>
</div>
<div id="timing" class="receiver">-</div>
<div class="section__header">
    <div style="display: table;">
        <div style="display: table-row;">
            <div style="display: table-cell;">Count items:</div>
            <div style="display: table-cell;">
                <input class="topcoat-text-input" type="text" value="100" style="width: 100%; height: 100%;"/>
            </div>
        </div>
        <div style="display: table-row;">
            <div style="display: table-cell;">Render Type:</div>
            <div style="display: table-cell;">
                <button class="topcoat-button" id="backbone">BackboneJS</button>
                <button class="topcoat-button" id="incremental">BackboneJS + incremental-dom</button>
                <button class="topcoat-button" id="react">ReactJS</button>
            </div>
        </div>
    </div>
</div>

<div id="grid"></div>

<script type="x-template" id="i-template">
    <div class="box"
         style="top: <%= data.top %>px; left: <%= data.left %>px; background: rgb(0,0,<%= data.color %>);">
        <%= data.content %>
    </div>
</script>
<script type="x-template" id="underscore-template">
    <div class="box"
         style="top: <%= top %>px; left: <%= left %>px; background: rgb(0,0,<%= color %>);">
        <%= content %>
    </div>
</script>

<script src="index.js"></script>
</body>
</html>