<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>incremental-dom helpers</title>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="../../node_modules/incremental-dom/dist/incremental-dom.js"></script>
    <script src="../../bin/itemplate.js"></script>
    <style>
        .toggle-title {
            margin: 0 0 10px;
            background: #45876f;
            padding: 10px;
            color:#fff;
            font-weight: normal;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="container"></div>

<script type="x-template" id="list-item">
    <li class="row <%=(data.i % 2 == 1 ? ' even' : '')%> topcoat-list__item">
        <%- data.name %>
        <% if (data.hasOlympicGold){ %>
        <em>*</em>
        <% } %>
    </li>
</script>

<script type="x-template" id="footnote-template">
    <% var showFootnote = _.any(
    _.pluck(data.listItems, "hasOlympicGold")
    ); %>

    <% if (showFootnote){ %>
    <p style="font-size: 12px ;">
        <em>* Olympic gold medalist</em>
    </p>
    <% } %>
    <!--inner helper-->
    <console data="<%=7+8%>" />
</script>

<script type="x-template" id="underscore-template">
    <div> <%- data.listTitle %></div>
    <my-list listItems="<%=data.listItems%>"> </my-list>
    <my-footnote listItems="<%=data.listItems%>"> </my-footnote>

    <h2>Toggle component in action</h2>
    <toggle title="Olympic Volleyball Players" opened="<% true %>">
        <my-list listItems="<%=data.listItems%>"> </my-list>
    </toggle>
    <toggle title="Notes">
        <ul>
            <li>
                <p style="font-size: 12px ;">
                    <em>* Olympic gold medalist</em>
                </p>
            </li>
        </ul>
    </toggle>
</script>

<script>
    var patch = IncrementalDOM.patch;
    var elementOpen = IncrementalDOM.elementOpen;
    var elementClose = IncrementalDOM.elementClose;
    var text = IncrementalDOM.text;
    var attr = IncrementalDOM.attr;

    var templateData = {
        listTitle: "Olympic Volleyball Players",
        listItems: [
            {
                name: "Misty May-Treanor",
                hasOlympicGold: true
            },
            {
                name: "Kerri Walsh Jennings",
                hasOlympicGold: true
            },
            {
                name: "Jennifer Kessy",
                hasOlympicGold: false
            },
            {
                name: "April Ross",
                hasOlympicGold: false
            }
        ]
    };

    var itemTemplate = document.getElementById('list-item').innerHTML;
    var footnoteTemplate = document.getElementById('footnote-template').innerHTML;
    var rootTemplate = document.getElementById('underscore-template').innerHTML;

    // you can register js function as simply helper
    itemplate.registerHelper('console', function (attrs) {
        console.log(attrs);
    });

    // you can use internal template as single tag
    var footnoteRenderFn = itemplate.compile(footnoteTemplate, IncrementalDOM);
    itemplate.registerHelper('my-footnote', footnoteRenderFn);

    // also you can use render function as part in js helper function
    var itemRenderFn = itemplate.compile(itemTemplate, IncrementalDOM);
    itemplate.registerHelper('my-list', function (attrs) {
        elementOpen('ul');
        _.each(attrs.listItems, function (listItem, i) {
            // render single list item
            itemRenderFn({
                i: i,
                name: listItem.name,
                hasOlympicGold: listItem.hasOlympicGold
            });
        });
        elementClose('ul');
    });


    itemplate.registerHelper('toggle', function (attrs, render) {
        var opened = attrs.opened;

        // Render title
        var title = elementOpen('h2', null, null, 'class', 'toggle-title');
        text(attrs.title);
        elementClose('h2');

        // Render content holder
        var content = elementOpen('div', null, null, 'class', 'toggle-content');
        if (opened) { render();}
        elementClose('div');


        // Toggle content by clicking on title
        title.onclick = function () {
            opened = !opened;
            if (opened) {
                patch(content, render);
            } else {
                patch(content, function() {});
            }
        };
    });

    // main template rendering
    var rootRenderFn = itemplate.compile(rootTemplate, IncrementalDOM);

    patch(document.querySelector('#container'), function(data) {
        rootRenderFn(data, ['key-01', 'key-02']);
    }, templateData);
</script>
</body>
</html>