<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>incremental-dom</title>
    <script src="../lib/incremental-dom.js"></script>
    <script src="../../bin/itemplate.js"></script>

    <style type="text/css">
        .row {
            border-bottom: #333434;
        }
        .even {
            background-color: #134f7f;
            color: white;
        }
    </style>
</head>
<body>
<div id="container"></div>
<script type="x-template" id="underscore-template">
    <div> <%- data.listTitle %></div>
    <ul>
        <%  var showFootnote = false;
            data.listItems.forEach(function(listItem, i) {
        %>
        <li class="row <%=(i % 2 == 1 ? ' even' : '')%>">
            <%- listItem.name %>
            <% if (listItem.hasOlympicGold){
            showFootnote = true; %>
            <em>*</em>
            <% } %>
        </li>
        <%  }); %>
    </ul>
    <%console.log(a);%>
    <% if (showFootnote){ %>
    <p style="font-size: 12px ;">
        <em>* Olympic gold medalist</em>
    </p>
    <% } %>
</script>
<script>
    var patch = IncrementalDOM.patch;

    var templateData = {
        listTitle: "Olympic Volleyball Players",
        listItems: [
            {
                    // name: "Misty May-Treanor",
                hasOlympicGold: true
            },
            {
                name: "Kerri Walsh Jennings",
                hasOlympicGold: true
            },
            {
                name: "Jennifer Kessy",
                hasOlympicGold: false
            },
            {
                name: "April Ross",
                hasOlympicGold: false
            }
        ]
    };

    itemplate.options({debug: true}); // enable debug mode
    var render = itemplate.compile(document.getElementById('underscore-template').innerHTML, IncrementalDOM);
    patch(document.querySelector('#container'), render, templateData);
</script>
</body>
</html>