<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BackboneJS with incremental-dom</title>

    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="//backbonejs.org/backbone-min.js"></script>

    <script src="../lib/incremental-dom.js"></script>

    <link rel="stylesheet" href="index.css"/>

    <script src="../../bin/itemplate.js"></script>
</head>
<body>
<div id="grid"></div>
<script type="x-template" id="underscore-template">
    <div class="box" id="box-<%= data.number %>"
         style="top: <%= data.top %>px; left: <%= data.left %>px; background: rgb(0,0,<%= data.color %>);">
        <%= data.content %>
    </div>
</script>
<script src="index.js"></script>
</body>
</html>